.navbar {
    /* background: linear-gradient (90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%) */
    /* background: transparent; */
    background: #3b5044;
    opacity: 80%;
    height: 120px;
    display: flex;
    justify-content: right !important;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 2em;
    position: fixed !important;
    width: 100%;
font-family: 'Catamaran', sans-serif;
 
}

.navbar.active {
    background: #3b5044;
    opacity: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}
.ms-auto{
    font-size: 30px;
    margin-right: 150px;
}

.logo{
    margin-left: 100px;
}

.burguer{
    color: black !important;
    background-color: black !important;
    height: 30px;
    width: 30;
}